name: "Godot Publish"
description: "Publish from Godot to GitHub Pages"
on:
  workflow_dispatch:

env:
  # GODOT_VERSION: 4.5
  GODOT_VERSION: 4.3
  EXPORT_NAME: psyche-opoly
  PROJECT_PATH: ./

jobs:

  _01_export_godot_project_to_web:
    name: 01 Export Godot Project to Web
    runs-on: ubuntu-latest

    # Begin Unverified Script
    # container: abarichello/godot-ci@3.6.2-stable
    # Container Name from Repository Internal File
    container: barichello/godot-ci:4.3

    steps:
      - name: Checkout
        uses: actions/checkout@v4

        # Requirement Unverified
        with:
          lfs: true

      - name: Setup Export Templates
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates/
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable
      
      - name: Run Web Build
        run: |
          mkdir -v -p build/web
          EXPORT_DIR="$(readlink -f build)"
          cd $PROJECT_PATH
          godot --headless --verbose --export-release "Web" "$EXPORT_DIR/web/index.html"
      
      # End Unverified Script

      - name: Upload Generated Build Files
        uses: actions/upload-artifact@v4
        with:
          name: ProjectBuild.zip
          path: build/web
      
      - name: Upload Generated Build Formats in a Special Format Required for GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: build/web

  _02_publish_to_github_pages:
    needs: _01_export_godot_project_to_web
    runs-on: ubuntu-latest

    # Permissions for Test GitHub Pages Deployment
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    # End Permissions

    # Deploy and Publish to GitHub Pages
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        id: deployment
